.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media (min-width: 992px) {
  .mobile {
    display: none;
  }

  .no-padding {
    padding: 0px;
  }

  .modal {
    height: initial;
  }
}

@media (max-width: 991px) {
  .desktop {
    display: none;
  }
}

.asset {
  display: block;
  width: 78px;
  cursor: pointer;
  float: right;
  background-color: #e1e1e1;
}

.asset.selected {
  width: 100%;
  cursor: default;
  background-color: transparent;
}

.button-buy {
  width: 100%;
  border-radius: 0;
  background-color: black;
  text-transform: uppercase;
  margin: 20px 0px;
}

.modal-content {
  border-radius: 0;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
}

.active-asset {
  padding-right: 0px;
  max-height: 600px;
  overflow-y: hidden;
}

.selected-arrow {
  height: 32px;
  position: absolute;
  top: 32px;
  left: -5px;
}

.image-list-item {
  position: relative;
  height: 100px;
}

.image-list-item p {
  display: block;
  float: right;
  width: 78px;
  height: 100px;
  background-color: #e1e1e1;
  padding: 5px;
  margin-bottom: 0px;
  cursor: pointer;
}