@font-face {
  font-family: 'Gotham Book';
  src: url('./assets/fonts/GOTHAM-BOOK.TTF') format('ttf'), 
    url('./assets/fonts/GOTHAM-BOOK.WOFF') format('woff');
}

body {
  margin: 0;
  font-family: 'Gotham Book', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
